*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --body-background:rgb(236, 231, 231);
    --background:#FFFFFF;
    --title-color:#464646;
    --subtitle-color:#A3A3A3;
    --text-color:#464646;
    --location-button-color:#4894FF;
    --message-icon-background-color:#F6F6F6;
    --message-icon-color:#4894FF;
    --video-call-button-background:#FFB050;
    --audio-call-button-border-color:#ECECEC;
    --profile-border:32px; /**/
    --user-title-size:22px;
    --user-subtitle-size:13px;
    --main-width:328px;
    --grid-container-width:328px;
    --grid-container-height:170px;
    --name-size:14px;
    --consult-size:12px;
    --consultation-time-size:18px;
    --location-size:15px;
}

html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x:hidden;
    
}

body{
    background: var(--body-background);
    width:360px;
    margin:auto;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    list-style-type: none;
}

header{
    height:124px;
}

.user-info{
    position:relative;
    display:flex;
    height:60%;
    top:50px;
}

.profile-border{
    border-radius:100%;
}

.user-text{
    display:block;
    margin-left:30px;
}

.title{
    color:var(--title-color);
    font-size: var(--user-title-size);
}

.subtitle{
    color:var(--title-color);
    font-size: var(--user-subtitle-size);
}

main{
    margin-top:30px;
    margin-left:20px;
    padding-bottom:70px;
    width:var(--main-width);
}
  
.date-section{
    padding-bottom:30px;
} 

.date{
    margin-bottom:15px;
}

.grid-container{
    display:grid;
    grid-template-columns: 70px auto 70px;
    grid-template-rows: 70px 1px auto;
    grid-template-areas: 
    'profile name message'
    'middle-left middle middle-right'
    'bottom-left bottom bottom-right';
    background: var(--background);
    width:var(--grid-container-width);
    height:var(--grid-container-height);
    border-radius:8px;
    backdrop-filter: blur(11px);
    margin-bottom:15px;
}

.info{
    grid-area: name;
    margin:auto 0;
}

.name{
    font-size: var(--name-size);
}

.location{
    display:flex;
    opacity: 0.9;
}

.consult{
    font-size:var(--consult-size);
}

.location .bx{
    margin-top:2px;
    margin-right: 5px;
    font-size: var(--location-size);
}

.message{
    grid-area: message;
    font-size: 25px;
    background: var(--message-icon-background-color);
    color:var(--message-icon-color);
    margin:auto;
    height:30px;
    width:30px;
    border-radius: 100%;
}

.separator{
    grid-area: middle;
    grid-column: 1/4;
    height:1px;
    background:var(--text-color);
    opacity:0.1;
}

.time{
    position: relative;
    grid-column: 1/4;
    left: 20px;
    color:var(--text-color);
}

.call-buttons{
    grid-column: 1/4;
    margin:auto;
}

.call-button{
    width:139px;
    height:48px;
    border-radius: 8px;
}

.video-call{
    box-sizing: border-box;
    background:var(--video-call-button-background);
    border:0;
    color:var(--background);
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    width:139px;
    height:48px;
    border-radius: 8px;
}

.voice-call{
    box-sizing: border-box;
    background: var(--background);
    border: 1px solid var(--audio-call-button-border-color);
    color:var(--text-color);
}

.address{
    background:var(--location-button-color);
    border:0;
    color:var(--background);
    box-sizing: border-box;
    width:296px;
    height:48px;
    border-radius: 8px;
    margin:auto;
    grid-column: 1/4;
}






/* MORE OPTIONS */
/* ---------------------------------------------------------------------------------------- */
#add-options, .add-options-icon{
    position: absolute;
    display: flex;
    top:20px;
    
    height:18px;

    background-repeat: no-repeat;
}

.more{
    bottom:80px;
}

.more-icon{
    top:18px;
    left:18px;
    width:20px;
    height:20px;

    background-image: url(./icons/mais-icone.svg);
    background-position: 50% 50%;

    
    transition-duration: .5s;
}
.options-active .eclipse .more-icon{
    transform: rotate(45deg);
}

.eclipse.more,
.options-active ~ .eclipse.video,
.options-active ~ .eclipse.location{
    position: fixed;
    width:56px;
    height:56px;
    right:20px;

    background: var(--location-button-color);
    box-shadow: 0px 4px 4px rgba(255, 152, 56, 0.06);
    border-radius: 100%;

    cursor:pointer;
    z-index:100;
}

.eclipse.location p,
.eclipse.video p{
    opacity: 0;
}

.options-active ~ .eclipse.location p,
.options-active ~ .eclipse.video p{
    opacity: 1;
    position: absolute;
    width:max-content;
    font-size:min(max(20px), 3.8vw);
    top:8px;
    right:5em;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 100px;

    color:var(--text-color);
    background: var(--background);
}

.options-active ~ .video{
    bottom:150px;
    opacity:1;
    animation: options-move-video .5s ;
}

.options-active ~ .video .video-icon{
    background-image: url(./icons/Camerafab.svg);
    left:17px;
    width:25px;    
}

.options-active ~ .location{
    bottom:220px;
    opacity:1;
    animation: options-move-location 1s ;
}

.options-active ~ .location .location-icon{
    background-image: url(./icons/pinfabiconee.svg);
    left:18px;
    top:16px;
    width:25px;
    height:26px;
}

.options-active .background-blur{
    position: fixed;
    bottom:0;
    left:0;
    height:100vh;
    width:100vw;
    background: grey;
    opacity:0.4;
    z-index:99;

    animation: background-blur .5s ;
}


@keyframes options-move-video {
    from {bottom:80px;
          z-index:98;
          opacity:0;}

    to {bottom:150px;
        opacity:1;}
}
@keyframes options-move-location{
    from {bottom:80px;
          z-index:97;
          opacity:0;}

    to {bottom:220px;
        opacity:1;}
}
@keyframes background-blur{
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}









/* FOOTER MENU OPTIONS */
/* ---------------------------------------------------------------------------------------- */
footer.bottom-menu{
    position: fixed;
    display:flex;
    justify-content: space-evenly;
    align-items:end;
    padding-bottom:6px;
    bottom:0;
    left:0;
    width:100vw;
    height:58px;
    background:var(--background);    
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 12px 12px 0px 0px;
}
footer{
    color:var(--text-color);
}
.menu-icon>span{
    display: block;
    margin:auto;
}
.consults>span{
    background-image: url(./icons/calendario-icone.svg);
    width:20px;
    height:22px;
}
.clients>span{
    background-image: url(./icons/clientes-icone.svg);
    width:24px;
    height:20px;
}
.dashboard>span{
    background-image: url(./icons/relatorios-icone.svg);
    width:14px;
    height:18px;
}
.menu>span{
    background-image: url(./icons/menu-icone.svg);
    width:20px;
    height:14px;
}
.consults:hover,
.clients:hover,
.dashboard:hover,
.menu:hover{
    cursor:pointer;
}








/* IMAGES PROPERTIES */
/* ---------------------------------------------------------------------------------------- */
#first-image{
    background-image:url(/7daysofcode-responsividade-1-7/image2.png);
    background-position:30% 20%;
    background-size:300%;
    margin-left:20px;
    height:57px;
    width:57px;
}

#second-image{
    grid-area: profile;
    background-image: url(/7daysofcode-responsividade-1-7/image3.jpg);
    background-position:30% 20%;
    background-size:100%;
    height:var(--profile-border);
    width:var(--profile-border);
    margin: auto auto;
}

#third-image{
    grid-area: profile;
    background-image: url(/7daysofcode-responsividade-1-7/image5.png);
    background-position:30% 20%;
    background-size:150%;
    height:var(--profile-border);
    width:var(--profile-border);
    margin: auto auto;
}

#fourth-image{
    grid-area: profile;
    background-image: url(/7daysofcode-responsividade-1-7/image1.png);
    background-position:40% 50%;
    background-size:150%;
    height:var(--profile-border);
    width:var(--profile-border);
    margin: auto auto;
}




/* MEDIA CONFIGURATIONS */
/* ---------------------------------------------------------------------------------------- */
@media screen and (min-width:800px){
    :root{
        --profile-border:60px;
        --user-title-size:30px;
        --user-subtitle-size:18px;
        --main-width:650px;
        --grid-container-width:650px;
        --grid-container-height:336px;
        --name-size:25px;
        --consult-size:20px;
        --consultation-time-size:22px;
        --location-size:24px;
    }
    body{
        margin:auto;
    }
    .user-info{
        height:80%;
    }
    #first-image{
        width:80px;
        height:80px;
    }
    main{
        margin-left:-145px;
    }
    .grid-container{
        display:grid;
        grid-template-columns: 130px auto 130px;
        grid-template-rows: 130px 10px auto;
        margin-bottom:25px;
    }
    .message{
        font-size: 35px;
        height:40px;
        width:40px;
    }
    .separator{
        height:3px;
    }
    .time{
        top:20px;
        font-size: var(--consultation-time-size);
    }
    .call-button{
        width:300px;
        height:70px;
    }
    .voice-call{
        border: 3px solid var(--audio-call-button-border-color);
    }
    .address{
        width:600px;
        height:70px;
    }
}

@media screen and (min-width:1500px){
    :root{
        --profile-border:60px;
        --user-title-size:30px;
        --user-subtitle-size:18px;
        --main-width:calc(100vw - 100px);
        --grid-container-width:650px;
        --grid-container-height:336px;
        --name-size:25px;
        --consult-size:20px;
        --consultation-time-size:22px;
        --location-size:24px;
    }
    body{
        margin:0;
    }
    .user-info{
        height:80%;
        width:calc(100vw - 50px);
        justify-content: center;
    }
    #first-image{
        width:90px;
        height:90px;
    }
    main{
        margin-left: 50px;
    }
    .date-section{
        display:flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        gap:25px;
        margin:30px;
    }
    #date{
        width:80vw;
    }
    .grid-container{
        display:grid;
        grid-template-columns: 6rem auto 6rem;
        grid-template-rows: 6rem 10px auto;
        margin-bottom:25px;
    }
    .message{
        font-size: 35px;
        height:40px;
        width:40px;
    }
    .separator{
        height:3px;
    }
    .time{
        top:20px;
        font-size: var(--consultation-time-size);
    }
    .call-button{
        width:300px;
        height:70px;
    }
    .voice-call{
        border: 3px solid var(--audio-call-button-border-color);
    }
    .address{
        width:600px;
        height:70px;
    }
}